<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Viabilidad y nuevas oportunidades para el pequeño comercio</title>
<link href="{{ asset('bundles/estokinpanel/css/styleHome.css') }}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{{ asset('bundles/estokinpanel/js/jquery-1.7.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/estokinpanel/js/jquery.animate.js') }}"></script>

</head>
<body>
			
	        
	<div class="grid-12-12" style="height:5%">

	</div>
	
	<div class="grid-12-12" style="height:70%">
			
			
			<div class="grid-4-12"></div>
			
			<div class="grid-5-12" style="">
			<div class="asideLog">
				<img class="logoS" src="{{ asset('bundles/estokinpanel/images/logoS.png') }}"></img><br>
				<input type="text" placeholder="Usuario"></input><br>
				<input type="password" placeholder="Contraseña"></input><br>
				<input type="button" value="Entrar"></input><br>
				<p>Problemas para entrar?</p>
			</div>
			</div>
			
		</div>
	
	</div>
		
	<div class="grid-12-12" style="height:15%">
		<div class="grid-12-12" style="height:20%"></div>	    
	    <div class="grid-2-12" style="height:30%; width:130px;">
		    <div style=" border: 1px silver solid; border-radius: 3px; padding: 12px 16px; color: silver; width: 100px; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); font-family: 'Helvetica Neue'; text-align: center; font-size: 12px; font-weight: 200;">
		    	Sobre Estokin
		    </div>
	    </div>
	    <div class="grid-2-12" style="height:30%; width:130px;">
		    <div style=" border: 1px silver solid; border-radius: 3px; padding: 12px 16px; color: silver; width: 100px; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); font-family: 'Helvetica Neue'; text-align: center; font-size: 12px; font-weight: 200;">
		    	Acceso tiendas
		    </div>
	    </div>
	</div>
</body>
<script>
$('#play').click(function(){
	$('#cvid').toggleClass('start').delay(3000);
    $('#vid').toggleClass('start');
});
</script>
</html>